@font-face {
font-family: Shabnam;
src: url('Shabnam-FD.eot');
src: url('Shabnam-FD.eot?#iefix') format('embedded-opentype'),
     url('Shabnam-FD.woff') format('woff'),
     url('Shabnam-FD.ttf') format('truetype');
font-weight: normal;
}

@font-face {
font-family: Shabnam;
src: url('Shabnam-Bold-FD.eot');
src: url('Shabnam-Bold-FD?#iefix') format('embedded-opentype'),
     url('Shabnam-Bold-FD.woff') format('woff'),
     url('Shabnam-Bold-FD.ttf') format('truetype');
font-weight: bold;
}

@font-face {
font-family: Shabnam;
src: url('Shabnam-Light-FD.eot');
src: url('Shabnam-Light-FD.eot?#iefix') format('embedded-opentype'),
     url('Shabnam-Light-FD.woff') format('woff'),
     url('Shabnam-Light-FD.ttf') format('truetype');
font-weight: 300;
}
/* about buttons */
.button_parent{
  position: absolute;
  text-align: left;
}
.button {
  font-family: shabnam;
  display: inline-block;
  border-radius: 4px;
  background: #f8bbd0 ;
  color:white;
  border: none;
  text-align: center;
  /* font-size: 28px; */
  padding: 10px;
  /* width: 100px; */
  transition: all 0.5s;
  cursor: pointer;
  /* margin: 5px; */
}
.button span {

  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {

  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 15px;


}
.button:hover span:after {

  opacity: 1;
  right: 0;
}

#minus{
-webkit-transition-duration: 0.4s;
transition-duration: 0.4s;
background: hsla(0, 100%, 50%, 0.4);
 color: #555;
 /* border: 1px solid #223445; */
 border-radius: 50%;
 width: 35px;
 height: 35px;
 /* -moz-border-radius: 5px */
 display:inline-block;
 padding: 0px;
 text-align: center;
 text-decoration: none;
 margin: 4px 2px;
  cursor: pointer;
 /* -webkit-border-radius: 5px; */
}
#minus:hover{
  background: hsla(0, 100%, 50%, 0.8);
   color:#f1f7fc;
}

#plus{

-webkit-transition-duration: 0.4s;
transition-duration: 0.4s;
background: hsla(120,100%,50%,0.3);
color: #555;
width: 35px;
height: 35px;
  cursor: pointer;

border-radius: 50%;

display:inline-block;
padding: 0px;
text-align: center;
text-decoration: none;
margin: 4px 2px;
}
#plus:hover{
  background: hsla(120, 100%, 38%, 0.8);
  color:#f1f7fc;
}
/* end about buttons */
/* about header */
html,
body {
  height: 100%;
  font-size: 15px;
  background:url(2.jpg);
}
body {
  display: flex;
  flex-direction: column;
  /* flex-wrap: nowrap; */
}
.top_header,
.fixed_footer {
  flex-shrink: 0;
}
.main_content {
  flex-grow: 1;
  overflow: auto;
}
.fixed_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:#f50057;
  color:white;
  padding: 10px 16px;
}

/* end about head */
/* about the list */
.wrapper {
  display: flex;

      /* text-align: center;
      background: #f1f7fc;
      padding: 80px 0; */
  }

.flex-container{
  /* display: -webkit-box;
 display: -moz-box;
 display: -ms-flexbox;
 display: -webkit-flex;
 display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content:space-around;
 align-items:center;
 align-content:flex-end; */
 flex-basis: 80%;
   /* max-width: 60%;
   min-width: 80%; */
 padding: 0;
  margin: auto;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}
.flex-item {
  display: flex;
  flex: 0 0 32%;
  min-height: 470px;
  max-width: 32%;
  align-self:center;


  /* background: tomato; */
  padding: 5px;
  /* width: 200px;
  height: 150px; */
  margin-top: 10px;
  /* line-height: 150px; */
  /* color: white;
  font-weight: bold;
  font-size: 3em; */
  text-align: center;
}





/* end about the list */

body {
            margin: 0;
            padding: 0;
            font-family: Shabnam;
}

/* .top-bar {
  text-align:center;
  direction:rtl;
    margin: 0px 0px 10px;
    background-color: lightpink;
    padding: 10px;
    width: 500px;
} */
/* about navbar */

.topnav {
  white-space: nowrap; /* [1] */
  overflow-x: auto; /* [2] */
  -webkit-overflow-scrolling: touch; /* [3] */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* [4] */ }

/* [5] */
.topnav::-webkit-scrollbar {
  display: none;
 }

.topnav {
padding: 10px 16px;
  direction: rtl;
  text-align: center;
  background:#f50057;
  color:#f1f7fc;
  /* overflow: hidden; */
}
.topnav a {
  font-family: shabnam;
  direction: rtl;
  /* float: none; */
  display: inline;
  color:#f1f7fc;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background: #ff4081;
   color:white;
}
/* .active {
  background-color: #9bcef7;
  color: white;
} */
.topnav .icon {
  display: none;
  margin-right: 5px;
}
@media only screen and (max-width: 600px) {
  .flex-item{
    max-width:none ;
    min-height: 360px;
  }
  .card-image{
    min-height:auto !important;
  }

}
@media only screen and (max-width: 600px) {
  .card {
    height: auto  !important;
  }
}

/* @media screen and (max-width: 600px) {
  .topnav a{
    display: ;
  }
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    right: 8px;
    top: 5px;
    display: block;
  }
} */


.my_foods {
  display: flex;
  flex-wrap: wrap;
  background: red;
  max-width: 1000px;
  margin: 0 auto;
}

.my_foods > .col {
  box-sizing: border-box;
  padding: 10px;
  flex-basis: 50%;
}

.my_food {
  background: yellow;
}

/* caaaaaaaaaaaards */
.card-image {
  max-width: 100%;
  width: 100%;
  height: auto;
  min-height: 257px;
  display: block;
  vertical-align: baseline;
  /* height: 162px; */
}
.card {

  /* display: flex;
  flex-direction: column; */
  flex-basis: 70%;
  height: 461px;
  width: 10%;
  min-width: 200px;
  border-radius: 4px;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  margin: auto;
  cursor: default;
}
.card-desc {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  /* padding: 0 1em 1em 1em; */
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  padding: 5px;
  height: 150px;
  overflow: hidden;
  align-items: baseline;
  direction: rtl;
}
.card-desc>* {
  flex:1 0 33%;
}
#inside{
  text-align: left;
  margin-left: 5px;
}


.card:hover {
  transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}


.ripple {
  border-radius: 50%;
  background: #ff8ec7;
  position: absolute;
  transform: scale(0);
  opacity: 1;
  animation: ripple 0.4s linear;
}

@keyframes ripple {
  to {
    transform: scale(2.5);
    opacity: 0;
  }
}
@keyframes scl {
  0% {
    opacity: 0;
    transform: scaleX(0.9) translateX(-50px);
  }
  75% {
    opacity: 0.2;
  }
  100% {
    transform: scaleX(1) translateX(0);
    opacity: 1;
  }
}



/* @media screen and (max-width: 600px) {
  .topnav.responsive {
    position: fixed;
  }

  .topnav.responsive a.icon {
    position: fixed;
    right: 8px;
    top: 5px;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }

  .my_foods > .col {
    flex-basis: 100%;
  }
} */
